Import the dependent libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Magic line so we don't have to put plt.show every time

In [2]:
%matplotlib inline

read the GDP file without the footnotes

In [36]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv", nrows=6868)

gdp tail view

In [37]:
gdp_df.tail(6)

     Country or Area  Year        Value  Value Footnotes
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

read the internet use file without the footnotes

In [29]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4495, skip_blank_lines=True)

internet use tail view

In [30]:
internet_df.tail(6)

     Country or Area  Year     Value  Value Footnotes
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

Look at the shape of each DataFrame - how many rows? How many columns?

In [42]:
gdp_df.shape

(6868, 4)

In [43]:
internet_df.shape

(4495, 4)

Take a look at the datatypes for the columns in each DataFrame.

In [44]:
type(gdp_df)

pandas.core.frame.DataFrame

In [45]:
type(internet_df)

pandas.core.frame.DataFrame

Take a look at the last 10 rows of each DataFrame in turn.

Drop the value footnotes column from both DataFrames. Check that this worked as expected.

Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

Look at the first five rows of your new DataFrame to confirm it merged correctly.

Look at the last five rows to make sure the data is clean and as expected.

Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.

Create three new DataFrames, one for 2004, one for 2009, and one for 2014. Give them meaningful names that aren't too long.

Which country had the highest percentage of internet users in 2014? What was the percentage? (Try typing the first 3 letters of your DataFrame name and hitting the tab key for auto-complete options).

Which country had the lowest percentage of internet users in 2014? What was the percentage?

Repeat for 2004 and 2009.

Which country had the highest gdp per capita in 2014? What was the gdp per capita?

Which country had the lowest gdp per capita in 2014? What was the gdp per capita?

Create some scatterplots:
a. 2004 Percent Using the Internet vs GDP Per Capita
b. 2009 Percent Using the Internet vs GDP Per Capita
c. 2014 Percent Using the Internet vs GDP Per Capita

Are there differences across years? What do the plots tell you about any relationship between these two variables? Enter your observations as a markdown cell.

Look at the distribution of gdp per capita values for 2014. Is it unimodal?

Look at the distribution of Internet Use for 2014. Is it unimodal?

What are the top 5 countries in terms of internet use in 2014?

Create a DataFrame called top_5_internet from the combined DataFrame that has all three years for the 5 countries that had the greatest 2014 internet usage. You should have 15 rows. Check that this is true.

Create a seaborn FacetGrid to show the internet usage trend across the years 2004, 2009, and 2014 for these 5 countries (those with the highest reported internet use in 2014). Which country had the greatest growth between 2004 and 2014?

Repeat the steps above to look at the trend for the 5 countries with the lowest 2014 internet usage. Which country has consistently had the least internet use?

Find the top 5 countries for 2014 in terms of GDP per capita; create a DataFrame to look at 10-year trends (use 2004, 2009, 2014 to look at the 10-year trend) in gdp per capita for the 5 countries with the highest 2014 GDP per capita. Use a seaborn facet grid for this.

Repeat this one more time to look at 10-year trend for the 5 countries for 2014 with the lowest GDP per capita.

Is there anything surprising or unusual in any of these plots? Searching on the internet, can you find any possible explanations for unusual findings?

BONUS: Download another data set from the UN data (http://data.un.org/Explorer.aspx) to merge with your data and explore.